*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

.section-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
  gap: 30px;
  box-sizing: border-box;
}

.section-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 30px auto 0;
  align-items: center;
  padding: 0 var(--side-padding);
  box-sizing: border-box;
}

.section-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 30px auto 0;
  align-items: center;
  padding: 0 var(--side-padding);
  box-sizing: border-box;
}

.section-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 30px auto 0;
  align-items: center;
  padding: 0 var(--side-padding);
  box-sizing: border-box;
}

.section-5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 30px auto 30px;
  align-items: center;
  padding: 0 var(--side-padding);
  box-sizing: border-box;
}

/* 1680x1050 (MacBook Pro '15.4) */
@media (min-width: 1680px) and (max-width: 1919px) {
  .section-1 {
    padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
    gap: calc(30px * (100vw / 1920px));
  }

  .section-2 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-3 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-4 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-5 {
    margin: calc(30px * (100vw / 1920px)) auto calc(30px * (100vw / 1920px));
    padding: 0 var(--side-padding);
  }
}

@media (min-width: 1440px) and (max-width: 1679px) {
  .section-1 {
    padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
    gap: calc(30px * (100vw / 1920px));
  }

  .section-2 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-3 {
    padding: 0 var(--side-padding);
  }

  .section-4 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-5 {
    margin: calc(30px * (100vw / 1920px)) auto calc(30px * (100vw / 1920px));
    padding: 0 var(--side-padding);
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .section-1 {
    padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
    gap: calc(30px * (100vw / 1920px));
  }

  .section-2 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-3 {
    padding: 0 var(--side-padding);
  }

  .section-4 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-5 {
    margin: calc(30px * (100vw / 1920px)) auto calc(30px * (100vw / 1920px));
    padding: 0 var(--side-padding);
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .section-1 {
    padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
    gap: calc(30px * (100vw / 1920px));
  }

  .section-2 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-3 {
    padding: 0 var(--side-padding);
  }

  .section-4 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-5 {
    margin: calc(30px * (100vw / 1920px)) auto calc(30px * (100vw / 1920px));
    padding: 0 var(--side-padding);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .section-1 {
    padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
    gap: calc(30px * (100vw / 1920px));
  }

  .section-2 {
    margin: calc(30px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-3 {
    padding: 0 var(--side-padding);
  }

  .section-5 {
    margin: calc(30px * (100vw / 1920px)) auto calc(30px * (100vw / 1920px));
    padding: 0 var(--side-padding);
  }
}

/* 768x1024 (iPad Portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
  .section-1 {
    padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
    gap: calc(20px * (100vw / 1920px));
  }

  .section-2 {
    margin: calc(20px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-3 {
    margin: calc(20px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-4 {
    margin: calc(20px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-5 {
    margin: calc(20px * (100vw / 1920px)) auto calc(20px * (100vw / 1920px));
    padding: 0 var(--side-padding);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-1 {
    padding: var(--side-padding) var(--side-padding) 0 var(--side-padding);
    gap: calc(10px * (100vw / 1920px));
  }

  .section-2 {
    margin: calc(10px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-3 {
    margin: calc(10px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-4 {
    margin: calc(10px * (100vw / 1920px)) auto 0;
    padding: 0 var(--side-padding);
  }

  .section-5 {
    margin: calc(10px * (100vw / 1920px)) auto calc(10px * (100vw / 1920px));
    padding: 0 var(--side-padding);
  }
}
